/* Navbar.css */

/* Style the cart link */
.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #198754; /* Adjust the color as needed */
  font-weight: bold;
}

/* Style the cart icon */
.cart-link img {
  margin-right: 6px; /* Adjust the spacing as needed */
}

/* Add bottom border to navbar items */
.nav-item {
  border-bottom: 2px solid #2a2d2a; /* Add a transparent border by default */
}

/* Style navbar items on hover and active state */
.nav-item:hover,
.nav-item:focus,
.nav-item.active {
  border-bottom: 3px solid #646665 ;
/* Highlight color for active and hover state */
  color:#3a3f3b; /* Text color for active and hover state */
  background-color:#198754; /* Background color for active and hover state */
}

/* Navbar.css */
@media (max-width: 768px) {
  /* Adjust styles for screens with a width of 768px or less (typical mobile screens) */
  .navbar-nav .nav-link {
    font-size: 16px; /* You can adjust the font size as needed for mobile */
  }
}

